/* 
/* your CSS styles can go here */

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.title-box {
  border: 3px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
  width: 80%; /* Adjust the width as needed */
  display: inline-block;
}

